*.pyc
*.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
*.gz
*.gz
MANIFEST
coppertop.egg-info/dependency_links.txt
coppertop.egg-info/PKG-INFO
coppertop.egg-info/SOURCES.txt
coppertop.egg-info/top_level.txt
MANIFEST
MANIFEST
